.board{
  height: 600px;
  width: 600px;
  background-color: green;
  content: ' ';
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 5px black solid;
}

.row{
  display: flex;
  
}

.App{
  width: 100vw;
  height: 100vh;
  display:flex;
}

.square{
  height: 75px;
  width: 75px;
  content: ' ';
  display: flex;
  
}

.square-odd{
  background-color: white;
}

.square-even{
  background-color: rgb(59, 59, 59);
  color:white
}

.checker{
  content: '';
  width: 50px;
  height: 51px;
  padding-top:5px;
  
  border-radius: 50%;
  margin: auto;
  background: transparent;
  cursor: pointer;
}

.checker-container{
  background:transparent;
  margin: auto;
  border-radius: 50%;
}

.white-checker{
  background-color: rgb(176, 176, 176);
  border: 1px black solid;
  
}

.white-checker::before{
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -6px;
  display: block;
  background-color: rgb(222, 222, 222);
  z-index: 1;
  border: 1px solid black;
}


.black-checker{
  background-color: rgb(30, 30, 30);
  border: 1px rgb(0, 0, 0) solid;
}

.black-checker::before{
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -6px;
  display: block;
  background-color: rgb(75, 75, 75);;
  z-index: 1;
  border: 1px solid black;
}

.current-square{
  background-color: rgb(227, 255, 157)!important;
}

.available-square:hover{
  background-color: rgb(218, 255, 123)!important;
  cursor: pointer;
}

.not-draggable{
  cursor: default!important;
}