.board{
  height: 60vh !important;
  width: 60vh !important;
  content: ' ';
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 5px black solid;
}

.stats-container{
  width: 60vh !important;
  margin: auto;
}

.row{
  display: flex
}

.lose-container{
  width: 60vh;
}

.current-player{
  background-color: white;
  text-align: center;
  font-size: 3vh;
  padding-left: 1.5vh;
  width: 100%;
}

.black-player{
  background-color: black;
  color: white;
}

.App{
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.square{
  height: 7.5vh;
  width: 7.5vh;
  content: ' ';
  display: flex;
  
}

.square-odd{
  background-color: white;
}

.square-even{
  background-color: rgb(59, 59, 59);
  color:white
}

.checker{
  content: '';
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin: auto;
  background: transparent;
  cursor: pointer;
}

.checker-container{
  background:transparent;
  margin: auto;
  border-radius: 50%;
  z-index:9;
  padding:1vh;
  margin-top: 0.5vh!important;
}

.white-checker{
  background-color: rgb(176, 176, 176);
  border: 0.1vh black solid;
  position:relative
  
}

.white-checker::after{
  content: '';
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-top: -0.8vh;
  display: block;
  background-color: rgb(222, 222, 222);
  z-index: 1;
  border: 0.1vh solid black;
 
}

.white-checker::before{
  content: '';
  width: 2.5vh;
  height: 2.6vh;
  border-radius: 50%;
  top:0.4vh;
  left:1.3vh;
  display: block;
  position: absolute;
  background-color: rgb(182, 182, 182);
  z-index: 4;
  border: 0.1vh solid black;
 
}


.black-checker{
  background-color: rgb(30, 30, 30);
  border: 0.1vh rgb(0, 0, 0) solid;
  position: relative;
}

.black-checker::after{
  content: '';
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-top: -0.8vh;
  display: block;
  background-color: rgb(75, 75, 75);;
  z-index: 1;
  border: 0.1vh solid black;
 
}

.black-checker::before{
  content: '';
  width: 2.5vh;
  height: 2.6vh;
  border-radius: 50%;
  top:0.4vh;
  left:1.3vh;
  display: block;
  position: absolute;
  background-color: rgb(52, 52, 52);
  z-index: 4;
  border: 0.1vh solid black;
 
}

.current-square{
  background-color: rgb(227, 255, 157)!important;
}

.available-square:hover{
  background-color: rgb(218, 255, 123)!important;
  cursor: pointer;
}

.not-draggable{
  cursor: default!important;
}

.board-container{
  margin:auto;
  background-color: rgb(136, 135, 135);
  padding: 10vh;
}

.black-checker.king::before{
  background-color: rgb(115, 29, 29);
}

.white-checker.king::before{
  background-color: rgb(115, 114, 29);
}

.winner-page{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.winner{
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  padding: 1vh;
  font-size: 3vh;
}

.click:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}

.black-checker-lose{
  background-color: rgb(30, 30, 30);
  position: relative;
  height: 5vh;

}

.white-checker-lose{
  background-color: rgb(176, 176, 176);
  position:relative;
  height: 5vh;
  
}

.lose > div{
display: flex;
padding-left: 1.5vh;
width: 60vh;

}

.lose > .white-checker-lose > .white-checker, .lose > .black-checker-lose >.black-checker{
  border: none;
  margin-top: 0.5vh;
  margin-left: -1.1vh;
  background-color: transparent;
}
