.board{
  height: 60vh;
  width: 60vh;
  content: ' ';
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 5px black solid;
}

.row{
  display: flex;
  
}

.App{
  width: 100vw;
  height: 100vh;
  display:flex;
}

.square{
  height: 7.5vh;
  width: 7.5vh;
  content: ' ';
  display: flex;
  
}

.square-odd{
  background-color: white;
}

.square-even{
  background-color: rgb(59, 59, 59);
  color:white
}

.checker{
  content: '';
  width: 5vh;
  height: 5vh;
  
  
  border-radius: 50%;
  margin: auto;
  background: transparent;
  cursor: pointer;
}

.checker-container{
  background:transparent;
  margin: auto;
  border-radius: 50%;
  z-index:9;
  padding:1vh;
  margin-top: 0.5vh!important;
}

.white-checker{
  background-color: rgb(176, 176, 176);
  border: 0.1vh black solid;
  position:relative
  
}

.white-checker::after{
  content: '';
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-top: -0.8vh;
  display: block;
  background-color: rgb(222, 222, 222);
  z-index: 1;
  border: 0.1vh solid black;
 
}


.black-checker{
  background-color: rgb(30, 30, 30);
  border: 0.1vh rgb(0, 0, 0) solid;
 
}

.black-checker::after{
  content: '';
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-top: -0.8vh;
  display: block;
  background-color: rgb(75, 75, 75);;
  z-index: 1;
  border: 0.1vh solid black;
 
}

.current-square{
  background-color: rgb(227, 255, 157)!important;
}

.available-square:hover{
  background-color: rgb(218, 255, 123)!important;
  cursor: pointer;
}

.not-draggable{
  cursor: default;
}

.board-container{
  margin:auto;
  background-color: rgb(136, 135, 135);
  padding: 10vh;
}